.App {
  text-align: center;
  color: white;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Futura";
}

.connect-button {
  display: flex;
  flex-direction: column;
}

.page {
  width: 460px;
  padding: 20px;
  border-radius: 20px;
  background-color: #1D1B34;
}

.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.connect > button.btn-secondary {
  margin-left: auto;
}

.page > h1 {
  margin-bottom: 48px;
}

.page > h2 {
  margin-bottom: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.blockie {
  width: 36px;
  height: 36px;
  border-radius: 50%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.balances {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.balances > div {
  display: flex;
  gap: 6px;
}

.balances > div > img {
  width: 24px;
  height: 24px;
}